# Set default behaviour, this overrides core.autocrlf (as
# no file will have an unspecified text attribute.
* text=auto
.gitattributes text eol=lf

# The following force textmode when it wouldn't otherwise be
# detected.  Probably best to keep this list short.
*.asm text eol=lf
*.cc text eol=lf
*.cpp text eol=lf
*.c text eol=lf
*.cxx text eol=lf
*.hh text eol=lf
*.hpp text eol=lf
*.h text eol=lf
*.txt text eol=lf

# the following files should always have lf line endings.
# (any editing that introduces crlf should have that stripped)
*.awk text eol=lf
*.cmake text eol=lf
*.md text eol=lf
*.m text eol=lf
*.py text eol=lf
*.sh text eol=lf
CMakeLists.txt text eol=lf

# The following should always have line endings normalised to CRLF.
# Ie, they are represented internally in git using LF and
# converted to CRLF at checkout.
*.sln text eol=crlf
*.vsprops text eol=crlf
*.vcproj text eol=crlf
*.vcxproj text eol=crlf
*.vcxproj.filters text eol=crlf
*.vcp text eol=crlf
*.vcw text eol=crlf
*.dsw text eol=crlf
*.dsp text eol=crlf
*.msvc text eol=crlf
*.bat text eol=crlf

# Denote all files that are truly binary and should not be modified.
# NB, the binary attribute below disables diff.  Only use this on
# truly binary files, otherwise use "-text" (see above)
*.png binary
*.jpg binary
*.pdf binary
*.docx binary
*.xlsx binary
*.xlsm binary
